html {
  background: url(/images/tom-barrett-hgGplX3PFBg-unsplash.jpg) no-repeat center
    center fixed;
  background-size: cover;
}

.container {
  margin: 5% auto 20px auto;
  padding: 20px 40px 20px 40px;
  max-width: 900px;
  background-image: linear-gradient(
    to right,
    rgba(219, 107, 59, 0.25),
    rgba(27, 132, 167, 0.6)
  );
  border-radius: 10px;
}
.location {
  text-align: right;
}

.lButton {
  text-align: center;
}
.locationButton {
  background-color: white;
  border-radius: 5px;
  border: solid 4px teal;
  color: teal;
  min-width: 200px;
  text-align: center;
  font-weight: bold;
}
.locationButton:hover,
.sButton:hover {
  color: white;
  background-color: teal;
  transition: ease-in-out all 200ms;
  cursor: pointer;
}

.search {
  text-align: left;
}
.sButton {
  background-color: white;
  border-radius: 5px;
  border: solid 4px teal;
  color: teal;
  min-width: 100px;
  text-align: center;
  font-weight: bold;
}

.currentCity {
  margin: 40px 0;
  padding: 10px;
  background-color: rgba(192, 228, 228, 0.6);
  border-radius: 10px;
}

.title,
.data,
a {
  display: inline;
}
.title {
  font-weight: bold;
  color: rgb(20, 107, 107);
  text-align: center;
}

.data {
  color: rgb(34, 34, 34);
  text-align: center;
}

.icon {
  background-color: rgba(0, 83, 83, 0.247);
  border-radius: 10px;
  border: solid 2px rgba(0, 128, 128, 0.432);
}

.forecastIcon {
  background-color: rgba(192, 228, 228, 0.6);
  border-radius: 10px;
  border: solid 2px rgba(185, 44, 154, 0.5);
}

.currentTime,
.currentConditions,
.cityName {
  color: rgb(77, 77, 77);
}
.currentTime {
  text-align: center;
}
.currentConditions {
  margin: 10px 0px;
}
.cityName {
  font-size: 50px;
  font-weight: bold;
  padding-top: 5%;
}
.cityTemp {
  font-size: 50px;
  font-weight: bold;
  padding-top: 5%;
}
.currentDayDate {
  font-size: 36px;
  text-align: center;
  font-weight: bold;
  color: rgba(185, 44, 154, 0.808);
}
.currentInfo {
  font-family: monospace;
}
.forecast-title {
  text-align: center;
  margin-top: -10px;
  padding: 10px;
}
.weather-forecast {
  text-align: center;
  margin-top: 10px;
  background-color: rgba(192, 228, 228, 0.6);
  border-radius: 10px;
}
.weather-forecast-dayName {
  font-weight: bold;
  color: rgb(20, 107, 107);
}
.weather-forecast-temperature-max {
  font-weight: bold;
  font-size: 16px;
}
.weather-forecast-temperature-min {
  font-size: 14px;
  opacity: 0.9;
  font-weight: bold;
}

.col {
  margin: 5px;
}
body {
  font-family: monospace;
  background: none;
}
h4 {
  margin-bottom: -20px;
  font-size: 21px;
  font-weight: bold;
  color: rgb(20, 107, 107);
}
h5 {
  text-align: center;
  font-weight: bold;
  color: rgb(77, 77, 77);
}
a {
  text-decoration: none;
  color: rgb(112, 112, 112);
  font-weight: bold;
}
a:hover {
  font-weight: bold;
  color: dodgerblue;
}
.selectedTempUnit {
  font-weight: bold;
  color: rgb(185, 44, 155);
}
footer {
  text-align: center;
  margin-top: -4%;
  color: rgb(185, 44, 155);
  background-color: rgba(0, 0, 0, 0.75);
  max-width: 900px;
  margin: 0px auto;
  border-radius: 10px;
  border: solid 1px rgba(0, 128, 128, 0.514);
}

img {
  opacity: 0.8;
}
